.card{
    -fx-background-color: #fff;
}

.shadow{
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.5), 5,0,0,0);
}

.btn{
    -fx-background-color: linear-gradient(to bottom right, #8028eb, #a3cbff);
    -fx-cursor: hand;
    -fx-text-fill: #fff;
}

.btn:hover{
    -fx-background-color: #8028eb;
}